apiVersion: apps/v1
kind: Deployment
metadata:
  name: tootest-dotnet-deployment
  namespace: {NAMESPACE}
  labels:
    app: tootest-dotnet
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tootest-dotnet
  template:
    metadata:
      annotations:
        k8s.aliyun.com/acr-instance-id: cri-3fynibeigjxpi5o6
        k8s.oneconnect.xom.cn/datadog-dotnet: "true"
      labels:
        app: tootest-dotnet
        tags.datadoghq.com/env: "occ-tootest"
        tags.datadoghq.com/service: "tootest-dotnet"
        tags.datadoghq.com/version: GITHUB_SHA
        tags.datadoghq.com/source: "csharp"
        tags.datadoghq.com/occ-service-domain: "tootest"
    spec:
      serviceAccountName: datadog
      containers:
      - name: tootest-dotnet
        image: xom-ecomm-acr02-registry.cn-shanghai.cr.aliyuncs.com/tootest/tootest-dotnet:GITHUB_SHA
        imagePullPolicy: IfNotPresent


      resources:
        requests:
          cpu: "0.5"

