apiVersion: apps/v1
kind: Deployment
metadata:
  name: tootest-dotnet-deployment
  namespace: {NAMESPACE}
  labels:
    app: tootest-dotnet
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tootest-dotnet
  template:
    metadata:
      labels:
        app: tootest-dotnet
        tags.datadoghq.com/env: "occ-tootest"
        tags.datadoghq.com/service: "tootest-dotnet"
        tags.datadoghq.com/version: GITHUB_SHA
        tags.datadoghq.com/source: "csharp"
        tags.datadoghq.com/version: "tootest"
    spec:
      containers:
      - name: tootest-dotnet
        image: xom-ecomm-acr02-registry.cn-shanghai.cr.aliyuncs.com/tootest/tootest-dotnet:GITHUB_SHA
        imagePullPolicy: IfNotPresent
        command:
          - /bin/sh
          - /xom-data/run.sh
        env:
        - name: aliyun_logs_tootest_dotnet
          value: stdout
        - name: APP_PATH
          value: /app/tootest-dotnet.dll
        - name: OCC_SERVICE_DOMAIN
          value: tootest
        - name: DD_ENV
          valueFrom:
            fieldRef:
              fieldPath: metadata.labels['tags.datadoghq.com/env']
        - name: DD_SERVICE
          valueFrom:
            fieldRef:
              fieldPath: metadata.labels['tags.datadoghq.com/service']
        - name: DD_VERSION
          valueFrom:
            fieldRef:
              fieldPath: metadata.labels['tags.datadoghq.com/version']
        - name: DD_AGENT_HOST
          value: "datadog-service.tootest.svc.cluster.local"
        - name: DD_LOGS_INJECTION
          value: "true"
        - name: DD_RUNTIME_METRICS_ENABLED
          value: "true"
        ports:
        - containerPort: 4477
        volumeMounts:
          - name: log-storage
            mountPath: /app/logs/
          - name: xom-data
            mountPath: /xom-data
        resources:
          requests:
            cpu: "0.5"
      - name: log-collector
        image: xom-ecomm-acr02-registry.cn-shanghai.cr.aliyuncs.com/bcs/fluentbit_sidecar:2.3
        env:
        - name: DD_ENV
          valueFrom:
            fieldRef:
              fieldPath: metadata.labels['tags.datadoghq.com/env']
        - name: DD_SERVICE
          valueFrom:
            fieldRef:
              fieldPath: metadata.labels['tags.datadoghq.com/service']
        - name: DD_VERSION
          valueFrom:
            fieldRef:
              fieldPath: metadata.labels['tags.datadoghq.com/version']
        - name: DD_SOURCE
          valueFrom:
            fieldRef:
              fieldPath: metadata.labels['tags.datadoghq.com/source']
        - name: OCC_SERVICE_DOMAIN
          valueFrom:
            fieldRef:
              fieldPath: metadata.labels['tags.datadoghq.com/occ-service-domain']
        resources:
          limits:
            cpu: 100m
            memory: 200Mi
        volumeMounts:
          - name: log-storage
            readOnly: true
            mountPath: /mnt/log
          - name: fluentbit-volume
            mountPath: /fluent-bit/etc/
      initContainers:
        - name: datadog-tracer
          image: xom-ecomm-acr02-registry.cn-shanghai.cr.aliyuncs.com/tootest/dotnet-datadog-tracer:9313290995537746b6fb862676d74cbc803a73ee
          command: [ "bash", "-c" ]
          args:
            - cp -r /xom-data /dd-temp
          volumeMounts:
            - name: xom-data
              mountPath: /dd-temp/xom-data
      imagePullSecrets:
        - name: alibaba-registry-credential-tootest-dotnet
      volumes:
      - name: log-storage
        emptyDir: { }
      - name: fluentbit-volume
        configMap:
          name: fluent-bit-config
      - name: xom-data
        emptyDir: { }
